.title{
    color: rgb(48, 42, 17);
    border-top: 1px solid rgb(48, 42, 17);
    border-bottom: 1px solid rgb(48, 42, 17);
}

.alert{
    background-color: rgb(212, 191, 1);
    padding: 5px 5px 5px 5px;
    color: white;
}
hr{
    border: none;
    height: 4px; 
    border-top: 3px solid rgb(84, 172, 179);
}

.imgtop{
    background-image: url('img/torta_limao_backS.png');
    background-repeat: repeat-x;
    width: 100vw;
    height: 5vh;
}
.imgbotton{
    background-image: url('img/torta_limao_backI.png');
    background-repeat: repeat-x;
    width: 100vw;
    height: 5vh;
}

.img1{
    list-style-image: url(img/torta_limao_item1.gif);
}
.img2{
    list-style-image: url(img/torta_limao_item2.gif);
}
.img3{
    list-style-image: url(img/torta_limao_item3.gif);
}